version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: task-management-app
    container_name: task-management-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - task-management-network

  nginx:
    image: nginx:alpine
    container_name: task-management-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - task-management-network

networks:
  task-management-network:
    driver: bridge
